.header {
  border-bottom: 1px solid var(--border-bottom);
}

.header__logo {
  display: block;
  margin-top: 24px;
  margin-bottom: 25px;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--second-text-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  span {
    font-family: raleway;
    font-weight: 700;
    font-size: 26px;
    color: var(--accent-text-color);
    letter-spacing: 0.03em;
  }
  &:hover {
    color: var(--accent-text-color);
  }
}
