.section-advantages {
  padding-bottom: 0;
}
.advantages__item {
  width: 270px;
  & + & {
    margin-left: 30px;
  }
}

.advantages__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.advantages__div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--section-color);
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
